<div class="card mt-5 shadow-effect">
	<div class="card-body">
		<h4>Leave a Comment</h4>
		<p>You can leave the comment using this comment form</p>

		<form action="">
			<div class="form-group shadow-effect">
				<label for="">Name</label>
				<input type="text" class="form-control" placeholder="Enter your name here">
			</div>
			<div class="form-group shadow-effect">
				<label for="">Comment</label>
				<textarea name="" id="" cols="30" rows="10" placeholder="Enter your comment here" class="form-control"></textarea>
			</div>
			<button class="btn btn-info btn-theme">Add a comment</button>
		</form>
	</div>
</div>