<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="card shadow-effect">
				<img src="https://img.freepik.com/free-photo/asian-marry-couple-love-sharing-genuine-emotions-happiness-hugging-sofa-couch-morning-light-living-room-home-interior-background-home-isolation-concept_609648-270.jpg?w=1060&t=st=1688874702~exp=1688875302~hmac=706bc928d71525948727601b016190a1a0a2968cd795eda00b18c53be363a6fe"
					alt="" class="card-img-top img-fluid">
				<div class="card-body">
					<small class="bg-light text-danger text-center">Design</small>
					<small class="bg-light text-success text-center ml-2">Featured</small>
					<small class="bg-light text-info text-center ml-2">Views - 100,256</small>
					<small class="bg-light text-warning text-center ml-2">Design</small>
					<h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
					<p>Once upon a time, in a small picturesque town nestled by the sea, lived a young couple named
						Emily and Jacob. Their story was one of serendipity and love, an extraordinary tale that
						unfolded against the backdrop of life's unpredictable journey.
						Emily, with her radiant smile and sparkling eyes, was a free-spirited artist. She found solace
						in painting and would often wander the town's streets, capturing the essence of its beauty on
						her canvas. Jacob, on the other hand, was an ambitious architect, driven by his passion to
						create magnificent structures that would stand the test of time.</p>
				</div>
			</div>
			<app-comment-form></app-comment-form>
			<app-comment-list></app-comment-list>
		</div>
		<div class="col-md-3">
			<div class="mb-3">
				<app-post-card></app-post-card>
			</div>
			<div class="mb-3">
				<app-post-card></app-post-card>
			</div>
			<div class="mb-3">
				<app-post-card></app-post-card>
			</div>
		</div>
	</div>
</div>