<div class="card shadow-effect">
	<img src="https://img.freepik.com/free-photo/couple-with-their-mouths-covered-with-heart-shaped-gift-box_23-2147592906.jpg?1&w=1060&t=st=1688815447~exp=1688816047~hmac=7f04bc571a7059dc8f18b3b638db6c7cdc512ec5ce8325441794a0b5454b6a8e" alt="">
	<div class="card-body">
		<small class="bg-light text-danger text-center">Design</small>
		<small class="bg-light text-success text-center ml-3">Feature</small>
		<small class="bg-light text-info text-center ml-3">Views - 100,256 </small>
		<h5 class="mt-5">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
		<p>example tex example tex example tex example tex example tex example tex  example tex example tex example tex example tex example tex example tex </p>
		<small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2023</small>
	</div>
</div>